.item-card{
    background-color: gray;
    width: 200px;
    color: aliceblue;
    margin: auto;
}

.img-card{
    width: 100%;
}

.item-año{
    margin-block: 0;
}

.item-marca{
    margin-block: 0;
}

